.body, .header, .first, .cards, .third, .fourth-add {
    display: flex;
}

.header {
    justify-content: space-between;
}

.section1 {
    background-color: #1f2937;
}

.second  {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.third, .fourth-add {
    justify-content: space-around;
}

.first-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}


.first-sub-text, .links {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.placeholder {
    background-color: grey;
    text-align: center;
    color: hotpink;
    width: 200px;
    padding: 00px;
height: 200px;

}

.first {
    gap: 100px;
}

.button, .button2 ,.fourth-add {
    background-color: #3882f6;
}

.third {
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    padding: 50px;
    gap: 40px;
}

.caption {
   font-size: 20px;
   color: black;
   flex-direction: column;
   align-self: flex-end;
}

.fourth {
    margin: 50px;
    padding: 30px;
    background-color: white;

 
}

.fourth-add {
    margin: 30px;
    padding: 20px;
}

.links {
    gap:30px;   
    text-decoration: none;
    display: flex;
}

.first-container {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.second-main {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.cards {
    border-color: aqua;
}

