.container {
    background-color: #1f2937;
}

.herot {
font-family: 'Roboto';
font-size: 48px;
font-weight: bolder;
color: #f9faf8;
}

.herost, .links {
    font-family: 'Roboto';
    font-size: 18px;
    color: #e5e7eb;
}

.hlogo {
    font-family: 'Roboto';
    font-size: 24px;
    color: #f9faf8;
}

.button {
    background-color: #3882f6;
}

.section4 {
    
}